#container{
    margin: 0 2.5%;
    padding: 0;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr) );
    grid-template-rows: repeat(50, 40vh);
    grid-row-gap: 15vh;
    grid-column-gap: 3vw;
}

.current {
    text-decoration: underline;
}

@media only screen and (max-width : 1024px){
    #container div{
        grid-column: span 3;
        max-width: 95vw;
    }

    #discoverp p{
        width: 90%;
    }
}

#container img{
    overflow: hidden;
}

#container div:hover{
    cursor: pointer;
}

#container div:hover > img{
    opacity: 0.85;
}

.imgtxt{
    background-color: #FFFCF5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    font-family: poppins, sans-serif;
    color: #36454F;
}

.imgtxt h3,
.imgtxt p{
    margin-left: 1vw;
    margin-top: -1%;
}

.imgtxt h3{
    padding: 1% 0;
}

.imgtxt p{
    padding-bottom: 1%;
    font-size: 14px;
}

.grid1{
    grid-column: span 2;
}

.grid7{
    grid-column: span 2;
}

.grid1 img,
.grid2 img,
.grid3 img,
.grid4 img,
.grid5 img,
.grid6 img,
.grid7 img,
.grid8 img,
.grid9 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 1;
    transition: 0.3s;
}

#discovernav{
    margin: 10% 0 5%;
    display: flex;
    justify-content: center;
    width: 100vw;
}


ul{
    width: 40%;
    display: flex;
    justify-content: space-between;
    font-family: poppins, sans-serif;
    list-style-type: none;
}

ul:hover{
    cursor: pointer;
}

#discoverhead{
    width: 100%;
    margin: 7% 0 2% 0;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #36454F;
}

#discoverhead h1{
    font-family: active;
    font-size: 50px;
    font-weight: 500;
}

#discoverp{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #36454F;
    font-family: poppins, sans-serif;
}