#map {
    position: absolute;
    top: 30vh;
    bottom: 0;
    width: 100%;}

 #discoverhead{
        width: 100%;
        margin-top: 12vh;
        display: flex;
        justify-content: center;
        text-align: center;
        color: #36454F;
        font-family: active;
    }

    #discoverhead h1{
        font-size: 50px;
        font-weight: 500;
    }