@import '../Colours/colours.scss';
@import '../Fonts/fonts.scss';

//importing colours and fonts just to organise it better

#video_wrapper {
     width: 100%;
     height: 93vh;
     margin-top: 7vh;

     img {
          width: 100%;
          height: 100%;
          object-position: center;
          object-fit: cover;
     }

}

article.explanation {
     width: 100%;
     height: 100vh;

     .placeholder {
          width: 100%;
          height: 50%;
          background-color: $blue;
     }

     .article_text {
          width: 100%;
          height: 50%;
          text-align: center;

          h2 {
               font-family: $active;
               font-weight: 500;
               font-size: 2em;
               margin-top: 5%;
          }

          p {
               font-family: $poppins;
               font-size: 12px;
               font-weight: 600;
               width: 80%;
               margin: 0 auto;
               padding-top: 5%;
          }

          a {
               text-decoration: none;
               background-color: $charcoal;
               height: 25px;
               width: 100px;
               display: block;
               margin: 0 auto;
               margin-top: 8%;
               color: $beidge;
               border-radius: 10px;
               line-height: 25px;
               transition: all .5s ease;

               &:hover {
                    background-color: $beidge;
                    color: $charcoal;
               }
          }
     }
}

@media only screen and (min-width:1024px) {
     article.explanation {
          display: flex;

          .placeholder {
               width: 50%;
               height: 100%;
          }

          .article_text {
               width: 50%;
               height: 100%;

               h2 {
                    font-weight: 500;
                    font-size: 3em;
                    margin-top: 10%;
               }

               p {
                    font-size: 1.1em;
                    font-weight: 600;
                    width: 70%;
                    margin: 0 auto;
                    padding-top: 5%;
               }

               a {
                    text-decoration: none;
                    background-color: $charcoal;
                    height: 45px;
                    width: 180px;
                    display: block;
                    margin: 0 auto;
                    margin-top: 15%;
                    color: $beidge;
                    border-radius: 50px;
                    line-height: 45px;
                    font-size: 1.1em;

                    &:hover {
                         border: 1px solid $charcoal;
                    }
               }
          }
     }
}